#todo {
  margin-top: 400px;
}
body {
  font-family: sans-serif;
  width: 400px;
  height: 400px;
}

* {
  /*box-shadow: 5px 5px #f002, -5px -5px #0ff2;*/
}
body {
}
bird-shape {
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

bird-face {
  margin-top: 85px;
  height: 100px;
  margin-left: 15%;
  width: 80%;
}

bird-face {
}

@keyframes face {
  from {
    margin-left: 30%;
  }
  50% {
    margin-left: 20%;
  }
  to {
    margin-left: 30%;
  }
}

bird-eyes {
  animation-duration: 12s;
  animation-name: face;
  animation-iteration-count: infinite;
  height: 50px;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
bird-eyes > * {
  width: 20px;
  height: 20px;

  position: relative;
  background-color: #333;
  border-radius: 50%;
}
bird-eye-left {
  display: inline-block;
}
bird-eye-right {
  display: inline-block;
}

bird-eye-left {
  animation-duration: 5s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

bird-eye-right {
  animation-duration: 5s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    height: 20px;
  }
  74% {
    height: 20px;
  }
  89% {
    height: 4px;
  }
  to {
    height: 20px;
  }
}
bird-chin {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;

  width: 70%;
  animation-duration: 12s;
  animation-name: face;
  animation-iteration-count: infinite;
}
bird-mouth {
  /* border: 1px solid red; */
  background-color: #fb8904;
  display: block;

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 27px;
  height: 25px;
  transform: rotate(180deg);
  /* left: 80px; */
  z-index: 1;
}

bird-body {
  display: block;
  position: absolute;
  top: 50px;
  left: 80px;
  background-image: linear-gradient(200deg, #f8f044, #cac441);

  width: 218px;
  height: 263px;
  border-radius: 50%;
}

bird-left-wing {
  /*border: 1px solid red;*/
  display: block;
  position: absolute;
  width: 54px;
  height: 158px;
  border-radius: 50%;
  background-image: linear-gradient(
    200deg,
    #f8f04400,
    #f8f04411,
    #cac441ff,
    #cac441ff
  );
  top: 75px;
  left: 0px;
  border-bottom: 2px solid #cec73a;
  box-shadow: none;
}

bird-right-wing {
  display: block;
  position: absolute;
  width: 32px;
  height: 136px;
  border-radius: 50%;
  background-color: #cec73a;
  top: 90px;
  left: 188px;
  /* border-bottom: 1px solid black; */
  box-shadow: none;
  z-index: -1;
}

bird-feet-left {
  display: block;
  position: absolute;
  top: 299px;
  left: 147px;
  height: 42px;
  width: 5px;
  background-color: black;
  display: block;
  box-shadow: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

bird-feet-right {
  display: block;
  position: absolute;
  top: 299px;
  left: 230px;
  height: 42px;
  width: 5px;
  background-color: black;
  display: block;
  box-shadow: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* bird-feet {
  display: block;
  position: fixed;
  top: 305px;
  left: 150px;
  height: 42px;
  width: 70px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  display: block;
  box-shadow: none;
} */

bird-lower-feet-left {
  background-color: black;
  display: block;
  position: absolute;
  top: 338px;
  left: 155px;
  height: 15px;
  width: 7px;
  display: block;
  box-shadow: none;
  transform: skew(60deg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

bird-lower-feet-right {
  background-color: black;
  display: block;
  position: absolute;
  top: 339px;
  left: 237px;
  height: 15px;
  width: 7px;
  display: block;
  box-shadow: none;
  transform: skew(60deg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

shadow-under {
  /* border: 1px solid blue; */
  display: block;
  position: absolute;
  width: 59px;
  height: 190px;
  border-radius: 50%;
  transform: rotate(-66deg);
  background-color: lightgray;
  box-shadow: 0px 0px 20px #d7d7d7;
  top: 200px;
  left: 80px;
  z-index: -2;
}

shadow-feet-right {
  background-color: lightgrey;
  box-shadow: 0px 0px 20px #d7d7d7;
  display: block;
  position: absolute;
  top: 120px;
  height: 55px;
  width: 4px;
  display: block;
  box-shadow: none;
  z-index: 5;
  transform: skew(0deg);
}
shadow-feet-right {
  background-color: lightgrey;
  box-shadow: 0px 0px 20px #d7d7d7;
  display: block;
  position: absolute;
  right: 22px;
  top: 152px;
  height: 95px;
  width: 4px;
  display: block;
  box-shadow: none;
  z-index: 8;
  transform: skew(0deg);
}
